In [13]:
# importacao de bibliotecas
import pandas as pd
from unidecode import unidecode

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [14]:
import numpy as np
print(np.__version__)

1.24.3

In [15]:
# Importacao da biblioteca sqlalchemy
from sqlalchemy import create_engine

In [16]:
# Buscar dados dos arquivos do excel

excel_data_df = pd.read_excel(r'G:\OneDrive - Default Directory\OneDrive - rede.sp\Arquivos_CCIH\ARQUIVOS_ORIGINAIS\cultura positiva 18.4.24-26.4.24.xlsx')

In [17]:
#Apresentacao dos dados

excel_data_df.head()

,parametroDataInicial,parametroDataFinal,ParametroUsuarioLogado,DataSistema,Clinica,NomeClinica,NumeroPedido,NomePaciente,DataNascimento,Nome,Resultado
0,2024-04-18,2024-04-26,111881,2024-04-21,1PS2,PRONTO SOCORRO _2º AND,10790872,ADAMIRIAN FERREIRA CRUZ ABELLAN NADAL,1961-10-01,CULTURA GERAL,Isolado [1]: Staphylococcus saprophyticus
1,2024-04-18,2024-04-26,111881,2024-04-21,1PS2,PRONTO SOCORRO _2º AND,10790872,ADAMIRIAN FERREIRA CRUZ ABELLAN NADAL,1961-10-01,CULTURA GERAL,Isolado [2]: Staphylococcus epidermidis
2,2024-04-18,2024-04-26,111881,2024-04-18,6URO,UROLOGIA_6º AND - AMB,10794123,ADILSON ANTUNES BITENCOURT,1947-01-21,UROCULTURA,Isolado [2]: Klebsiella pneumoniae ssp pneumoniae
3,2024-04-18,2024-04-26,111881,2024-04-19,4GNC,GINECOLOGIA_4º AND - AMB,10794953,ANA PAULA DE SOUZA,1981-05-11,UROCULTURA,Isolado [1]: Escherichia coli
4,2024-04-18,2024-04-26,111881,2024-04-18,4REU,REUMATOLOGIA_4º AND - AMB,10794217,ANA SODRE DE FRANÇA MOREIRA,1952-02-01,UROCULTURA,Isolado [1]: Escherichia coli

In [18]:
excel_data_df.shape

(70, 11)

In [19]:
# Busca das linhas que são usadas como flag

df = excel_data_df.loc[(excel_data_df['Resultado'] == 'Enterococcus resistente a glicopeptideos (VRE), consultar CCIH.') | (excel_data_df['Resultado'] == 'Cepa resistente a carbapenemicos, consultar CCIH.')| (excel_data_df['Resultado'] == 'Enterococcus Vanco Resistente (VRE), consultar CCIH.')]

In [20]:
df.index

Index([31, 35], dtype='int64')

In [21]:
df.head(10)

,parametroDataInicial,parametroDataFinal,ParametroUsuarioLogado,DataSistema,Clinica,NomeClinica,NumeroPedido,NomePaciente,DataNascimento,Nome,Resultado
31,2024-04-18,2024-04-26,111881,2024-04-22,0,SEM CLINICA CADASTRADA,10784666,JOAO ELEOTERIO LINO,1940-06-09,UROCULTURA,"Cepa resistente a carbapenemicos, consultar CCIH."
35,2024-04-18,2024-04-26,111881,2024-04-22,6URO,UROLOGIA_6º AND - AMB,10795097,JOAO ELEOTERIO LINO,1940-06-09,UROCULTURA,"Cepa resistente a carbapenemicos, consultar CCIH."

In [22]:
df_ccih = excel_data_df.loc[df.index - 1]

In [23]:
df_ccih.head(20)

,parametroDataInicial,parametroDataFinal,ParametroUsuarioLogado,DataSistema,Clinica,NomeClinica,NumeroPedido,NomePaciente,DataNascimento,Nome,Resultado
30,2024-04-18,2024-04-26,111881,2024-04-22,0,SEM CLINICA CADASTRADA,10784666,JOAO ELEOTERIO LINO,1940-06-09,UROCULTURA,Isolado [2]: Klebsiella pneumoniae ssp pneumoniae
34,2024-04-18,2024-04-26,111881,2024-04-22,6URO,UROLOGIA_6º AND - AMB,10795097,JOAO ELEOTERIO LINO,1940-06-09,UROCULTURA,Isolado [2]: Klebsiella pneumoniae ssp pneumoniae

In [24]:
# determining the name of the file
file_name = r'G:\OneDrive - Default Directory\OneDrive - rede.sp\Arquivos_CCIH\CCIH\CCIH_Data_2023_04_18.xlsx'
  
# saving the excel
df_ccih.to_excel(file_name)